{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<br>
 <div id="content">
      <div class="container">


          <div class="col-md-12 ">
                      <div class="row">
                        <div class="col-md-12 single-post">
                          <ul id="myTab" class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#detail" data-toggle="tab"><i class="fa fa-gamepad"></i> مشخصات محصول </a></li>
                            <li><a href="#location" data-toggle="tab"><i class="fa fa-paper-plane-o"></i>نظرات کاربران</a></li>
                          </ul>

                          <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="detail">
                              <div class="row">

                                  <div class="col-md-3"><h2>{{product.name}}</h2></div>
                                  <div class="col-md-3"><h5><i class="fa fa-eye"></i>بازدید امروز:   {{daily_view}} </h5></div>
                                  <div class="col-md-6">
                                 <div class="property-cart">
                                  <a href="#" class="btn btn-primary"><i class="fa fa-cart-o"></i>افزودن به سبد خرید &raquo;</a>
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                  <div id="slider-property" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      {% for img in product.img.all %}
                                      <li data-target="#slider-property" data-slide-to="0" class="">
                                        <img src="{{img.image.url}}">
                                      </li>
                                      {% endfor %}
                                    </ol>
                                    <div class="carousel-inner">
                                      {% if product.img.all %}
                                          {% for img in product.img.all %}
                                            {% if img.default %}
                                            <div class="item active">
                                              <img src="{{img.image.url}}" alt="">
                                            </div>
                                            {% else %}
                                              <div class="item">
                                                <img src="{{img.image.url}}" alt="">
                                              </div>
                                            {% endif %}
                                          {% endfor %}
                                        {% else %}
                                            <div class="item active">
                                             <img src="{%static 'img/Capture.jpg' %}">
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a class="left carousel-control" href="#slider-property" data-slide="prev">
                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    <a class="right carousel-control" href="#slider-property" data-slide="next">
                                      <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                  </div>
                                  <h3>بررسی اجمالی محصول</h3>
                                  <table class="table table-bordered">
                                    <tr>
                                      <td width="20%"><strong>نام محصول</strong></td>
                                      <td>{{product.name}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>نام فروشنده</strong></td>
                                      <td>{{product.seller.user.user.first_name}} {{product.seller.user.user.last_name}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>قیمت</strong></td>
                                      <td>{{product.price}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>نوع</strong></td>
                                      <td>{{product.category}}</td>
                                    </tr>
                                    <tr>
                                      <td><strong>وضعیت</strong></td>
                                      {% if product.stock %}
                                        <td>دست دوم</td>
                                      {% else %}
                                        <td>نو</td>
                                      {% endif %}
                                    </tr>
                                      {% for field in product.fields.all %}
                                    <tr>
                                      <td><strong>{{field.field_name}}</strong></td>
                                      <td>{{field.field}}</td>
                                    </tr>
                                      {% endfor %}

                                  </table>

                                  <h3>توضیحات محصول</h3>
                                    <p>{{product.description}}</p>
                                  </div>
                                </div>
                              </div>


                            </div>
                            <!-- break -->

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- end:article -->
          </div>
{% endblock content%}